.Form {
}

.Form--radiobutton {
  display: block;
  margin: 0.5em;
  padding: 0.5em;
  cursor: pointer;
  outline: 1px solid black;
}

.Form--radiobutton .fa:before {
  content: "\f111"
}

.Form--radiobutton.Form--radiobutton-selected .fa:before{
  content: "\f058"
}

.Preview {
  width: 8em;
}

